.contact
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    gap: 80px

    &__title
        display: none
        width: 1034.68px
        font-weight: 400
        font-size: 60px
        line-height: 100.14%
        text-align: center
        color: $MSUGreen

        &--show
            display: block

    &__form
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        width: 1012px
        gap: 20px
        flex-wrap: wrap

        &-item
            width: 448px
            background: $White
            border: 4px solid $Honeydew
            color: $MSUGreen
            font-weight: 600
            font-size: 16px
            line-height: 19px
            display: flex
            padding: 20px

            &:hover
                transition: all 0.3s ease-in-out
                cursor: pointer
                background: $PowderBlue

            &::placeholder
                color: $MSUGreen

            &--textarea
                width: 1012px
                height: 186.34px
                color: $MSUGreen
                resize: none

            &--submit
                width: 181.17px
                height: 53.89px
                display: flex
                align-items: center
                justify-content: center
                background: $PowderBlue
                color: $White
                font-weight: 800
                font-size: 15px
                cursor: pointer
                border: none
                padding: 20px 100px

                &:hover
                    transform: scale(1.05)
                    background: $Honeydew
                    color: $MSUGreen

        &-adress
            margin-right: 130px

        &-socials
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
            gap: 10px

            &-item
                width: 53.89px
                height: 53.89px
                font-size: 25px
                display: flex
                align-items: center
                justify-content: center
                text-decoration: none
                background: $Honeydew
                color: $MSUGreen

                &:hover
                    background: $PowderBlue
                    transform: scale(1.05)
                    transition: all 0.3s ease-in-out
                    cursor: pointer


@media (max-width: 1020px)
    .contact
        &__title
            width: 80vw
            font-size: 30px

        &__form
            width: 100%

            &-item
                width: 80vw

                &--submit
                    width: 40vw

            &-adress
                display: none