.deals
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    gap: 80px

    &__content
        display: flex
        flex-direction: row
        align-items: flex-start
        gap: 100px

        &-text
            display: flex
            flex-direction: column
            justify-content: center
            width: 757px
            gap: 25px

            &-big
                width: 660.28px
                font-weight: 400
                font-size: 60px
                line-height: 108%
                color: $MSUGreen

            &-small
                font-family: 'Tiempos Headline'
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 24px
                color: $MSUGreen

            &-small-bold
                font-weight: 900
                font-size: 16px
                line-height: 22px
                color: $MSUGreen

    &__prices
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        flex-wrap: wrap

        gap: 20px

        &-content
            display: flex
            flex-direction: column
            justify-content: center

            &-text
                position: relative
                top: -95px

            &-price
                font-weight: 900
                font-size: 16px
                line-height: 20px
                color: $MSUGreen
                background-color: $Honeydew
                padding: 15px
                width: 148px
                text-align: center

            &-data
                font-weight: 600
                font-size: 15px
                line-height: 19px
                display: flex
                align-items: center
                letter-spacing: -0.035em

                background-color: $MSUGreen
                color: $Honeydew
                padding: 15px
                width: 238px

    &__link
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center

        gap: 50px

        &-line
            width: 344px
            height: 0px
            border-top: 2px solid $MSUGreen


        &-arrow-right
            display: flex
            flex-direction: row
            align-items: center

        &-text
            font-weight: 800
            font-size: 15px
            line-height: 20px
            text-align: center
            color: $MSUGreen
            border: 2px solid $MSUGreen
            padding: 10px 40px
            text-decoration: none

        &-arrow-left
            display: flex
            flex-direction: row
            align-items: center