.welcome
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    gap: 40px

    &__container
        display: flex
        width: 1012px

    &__left
        display: flex
        flex-direction: column

        &-big-text
            width: 772px
            font-weight: 400
            font-size: 123.917px
            line-height: 100.14%
            color: $MSUGreen

            &--none
                display: none

        &-small-text
            width: 152px
            font-weight: 800
            font-size: 18.5875px
            line-height: 26px
            color: $MSUGreen
            position: relative
            top: -220px
            left: 360px
            z-index: -1

            &--none
                display: none

        &-table
            display: flex
            flex-direction: row
            align-items: center
            gap: 50px
            font-weight: 800
            font-size: 15.3684px

            &--none
                display: none

            &-button
                display: none

            &-row
                display: flex
                width: 300px
                flex-direction: row
                align-items: center
                justify-content: space-between
                border-bottom: 1px solid $Honeydew
                padding: 3.8px 0
                gap: 50px

            &-head
                display: flex
                flex-direction: row
                justify-content: flex-end
                gap: 35px
                border-bottom: 1px solid $Honeydew
                padding: 3.8px 0

            &-left
                text-align: left
                &--gray
                    color: $Honeydew

            &-right
                text-align: right
                &--gray
                    color: $Honeydew

    &__right
        position: relative
        right: 85px
        z-index: -1

        &--none
            display: none

    &__rectangle
        width: 1012px
        height: 0px
        border-top: 2px solid $MSUGreen
        text-align: center
        z-index: -1

        &--none
            display: none

        &-image
            position: relative
            top: -4.5px

@media (max-width: 1020px)
    .welcome
        width: 100%
        &__container
            width: 100%

        &__left
            justify-content: center
            gap: 100px
            padding-left: 10vw

            &-big-text
                width: 100%
                font-weight: 400
                font-size: 10vw
                line-height: 100.14%
                z-index: -1

            &-small-text
                position: static
                font-size: 5vw
                line-height: 139.81%

            &-table
                display: none
                width: 100%
                padding: 0px 0 170px 0
                flex-direction: column
                align-items: center
                justify-content: center
                background: $White
                position: absolute
                top: 180px
                left: 0
                gap: 100px

                &-button
                    display: block
                    font-weight: 800
                    font-size: 15px
                    line-height: 20px
                    background: $PowderBlue
                    color: $White
                    padding: 12px 42px
                    border: none
                    cursor: pointer

        &__right
            right: 10vw
            z-index: -999

            &-image
                width: 30vw
                height: 60vw

        &__rectangle
            width: 90vw