* {
  margin: 0;
  padding: 0;
  font-family: "Mont";
  font-style: normal;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  gap: 100px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 250px;
}
.navigation__button {
  background-color: transparent;
  border: 0;
  display: none;
  color: #093E38;
  cursor: pointer;
}
.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 40px;
}
.navigation__list-rectangle {
  display: none;
}
.navigation__list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #093E38;
  text-decoration: none;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
}
.navigation__list-item:hover {
  text-decoration: underline;
  text-underline-position: under;
  color: #ADDBE2;
  transition: all 0.3s ease-in-out;
}
.navigation__list-item--login {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  background: #ADDBE2;
  color: #FFFFFF;
  padding: 12px 42px;
  text-transform: uppercase;
}
.navigation__list-item--login:hover {
  text-decoration: none;
  background: #093E38;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
.navigation__list-show-table {
  display: none;
}

@media (max-width: 1370px) {
  .navigation {
    gap: 20vw;
    justify-content: space-between;
  }
  .navigation__button {
    display: flex;
    transition: all 0.3s ease-in-out;
  }
  .navigation__button.active {
    transform: rotate(180deg);
  }
  .navigation__list {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    width: 100%;
    padding: 0px 0 150px 0;
    position: absolute;
    top: 180px;
    left: 0;
    gap: 30px;
  }
  .navigation__list-rectangle {
    display: block;
    width: 228px;
    height: 0;
    border: 1px solid #093E38;
    text-align: center;
  }
  .navigation__list-rectangle-image {
    position: relative;
    top: -8px;
  }
  .navigation__list-item--login {
    text-transform: capitalize;
    position: relative;
    top: 50px;
  }
  .navigation__list-show-table {
    display: block;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #093E38;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    position: relative;
    top: 80px;
  }
  .navigation__list-show-table-rectangle {
    width: 228px;
    height: 0;
    border: 1px solid #093E38;
    text-align: center;
  }
  .navigation__list-show-table-rectangle-image {
    position: relative;
    top: -15px;
    transform: rotate(180deg);
  }
  .show {
    display: flex;
  }
}
@media (max-width: 360px) {
  .navigation__logo-image {
    width: 169px;
  }
}
.welcome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.welcome__container {
  display: flex;
  width: 1012px;
}
.welcome__left {
  display: flex;
  flex-direction: column;
}
.welcome__left-big-text {
  width: 772px;
  font-weight: 400;
  font-size: 123.917px;
  line-height: 100.14%;
  color: #093E38;
}
.welcome__left-big-text--none {
  display: none;
}
.welcome__left-small-text {
  width: 152px;
  font-weight: 800;
  font-size: 18.5875px;
  line-height: 26px;
  color: #093E38;
  position: relative;
  top: -220px;
  left: 360px;
  z-index: -1;
}
.welcome__left-small-text--none {
  display: none;
}
.welcome__left-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  font-weight: 800;
  font-size: 15.3684px;
}
.welcome__left-table--none {
  display: none;
}
.welcome__left-table-button {
  display: none;
}
.welcome__left-table-row {
  display: flex;
  width: 300px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D4E5CE;
  padding: 3.8px 0;
  gap: 50px;
}
.welcome__left-table-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 35px;
  border-bottom: 1px solid #D4E5CE;
  padding: 3.8px 0;
}
.welcome__left-table-left {
  text-align: left;
}
.welcome__left-table-left--gray {
  color: #D4E5CE;
}
.welcome__left-table-right {
  text-align: right;
}
.welcome__left-table-right--gray {
  color: #D4E5CE;
}
.welcome__right {
  position: relative;
  right: 85px;
  z-index: -1;
}
.welcome__right--none {
  display: none;
}
.welcome__rectangle {
  width: 1012px;
  height: 0px;
  border-top: 2px solid #093E38;
  text-align: center;
  z-index: -1;
}
.welcome__rectangle--none {
  display: none;
}
.welcome__rectangle-image {
  position: relative;
  top: -4.5px;
}

@media (max-width: 1020px) {
  .welcome {
    width: 100%;
  }
  .welcome__container {
    width: 100%;
  }
  .welcome__left {
    justify-content: center;
    gap: 100px;
    padding-left: 10vw;
  }
  .welcome__left-big-text {
    width: 100%;
    font-weight: 400;
    font-size: 10vw;
    line-height: 100.14%;
  }
  .welcome__left-small-text {
    position: static;
    font-size: 5vw;
    line-height: 139.81%;
  }
  .welcome__left-table {
    display: none;
    width: 100%;
    padding: 0px 0 170px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    position: absolute;
    top: 180px;
    left: 0;
    gap: 100px;
  }
  .welcome__left-table-button {
    display: block;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    background: #ADDBE2;
    color: #FFFFFF;
    padding: 12px 42px;
    border: none;
    cursor: pointer;
  }
  .welcome__right {
    right: 10vw;
    z-index: -999;
  }
  .welcome__right-image {
    width: 30vw;
    height: 60vw;
  }
  .welcome__rectangle {
    width: 90vw;
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}
.about-us__flex1 {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
.about-us__flex1-text {
  width: 608px;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.about-us__flex1-text-big {
  width: 496px;
  font-weight: 900;
  font-size: 33.7558px;
  line-height: 108%;
  color: #D4E5CE;
}
.about-us__flex1-text-small {
  font-family: "Tiempos Headline";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #093E38;
}
.about-us__flex2 {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
.about-us__flex2-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 240px;
  padding: 50px;
  background: #D4E5CE;
  font-weight: 700;
  font-size: 25px;
  line-height: 126%;
}
.about-us__flex2-text-rectangle {
  height: 0;
  text-align: center;
  border: 2px solid #093E38;
}
.about-us__flex2-text-rectangle-image {
  position: relative;
  top: -10px;
}
.about-us__rectangle {
  width: 1012px;
  height: 0px;
  border-top: 2px solid #093E38;
  text-align: center;
}
.about-us__rectangle-image {
  position: relative;
  top: -4.5px;
}

@media (max-width: 1020px) {
  .about-us {
    justify-content: center;
    align-items: center;
  }
  .about-us__flex1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-us__flex1-image {
    width: 300px;
  }
  .about-us__flex1-text {
    width: 70vw;
    gap: 20px;
  }
  .about-us__flex1-text-big {
    width: 100%;
  }
  .about-us__flex2 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .about-us__flex2-image {
    width: 300px;
    height: auto;
  }
  .about-us__flex2-text {
    padding: 30px;
  }
  .about-us__rectangle {
    width: 90vw;
  }
}
.deals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.deals__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 100px;
  margin-bottom: 100px;
}
.deals__content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 757px;
  gap: 25px;
}
.deals__content-text--center {
  align-items: center;
}
.deals__content-text-big {
  width: 660.28px;
  font-weight: 400;
  font-size: 60px;
  line-height: 108%;
  color: #093E38;
}
.deals__content-text-big--center {
  text-align: center;
}
.deals__content-text-small {
  font-family: "Tiempos Headline";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #093E38;
}
.deals__content-text-small--center {
  text-align: center;
}
.deals__content-text-small-bold {
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  color: #093E38;
}
.deals__content-text-small-bold--center {
  text-align: center;
}
.deals__prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.deals__prices--width {
  margin-top: 100px;
  width: 1132px;
  display: none;
}
.deals__prices-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.deals__prices-content:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.deals__prices-content-text {
  position: relative;
  top: -95px;
}
.deals__prices-content-price {
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #093E38;
  background-color: #D4E5CE;
  padding: 15px;
  width: 148px;
  text-align: center;
}
.deals__prices-content-data {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: -0.035em;
  background-color: #093E38;
  color: #D4E5CE;
  padding: 15px;
  width: 238px;
}
.deals__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.deals__link-line {
  width: 344px;
  height: 0px;
  border-top: 2px solid #093E38;
}
.deals__link-arrow-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.deals__link-text {
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #093E38;
  border: 2px solid #093E38;
  padding: 10px 40px;
  text-decoration: none;
}
.deals__link-text:hover {
  cursor: pointer;
  background: #D4E5CE;
  transition: all 0.3s ease-in-out;
}
.deals__link-arrow-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.deals__rectangle {
  width: 1012px;
  height: 0px;
  border-top: 2px solid #093E38;
  text-align: center;
}
.deals__filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.deals__filters-menu-text {
  display: none;
}
.deals__filters-menu-show-filters {
  display: none;
}
.deals__filters-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.deals__filters-buttons-item {
  background: #ADDBE2;
  border: none;
  font-weight: 800;
  font-size: 14.5404px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding: 10px 20px;
}
.deals__filters-buttons-item:hover {
  background: #093E38;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.deals__moving {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.deals__moving-more {
  display: none;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #ADDBE2;
  padding: 10px 77.14px;
}
.deals__moving-more:hover {
  background: #D4E5CE;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.deals__moving-next {
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #ADDBE2;
  padding: 10px 77.14px;
  border: none;
}
.deals__moving-next:hover {
  background: #D4E5CE;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.deals__moving-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.deals__moving-options-prev {
  display: flex;
  align-items: center;
  border: 2px solid #D4E5CE;
  padding: 12px;
  background: #FFFFFF;
}
.deals__moving-options-prev:hover {
  background: #ADDBE2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.deals__moving-options-numbers {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #093E38;
  padding: 10px 35px;
  border: 2px solid #D4E5CE;
}
.deals__moving-options-next {
  display: flex;
  align-items: center;
  border: 2px solid #D4E5CE;
  padding: 12px;
  background: #FFFFFF;
}
.deals__moving-options-next:hover {
  background: #ADDBE2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1140px) {
  .deals__prices--width {
    width: 100%;
  }
}
@media (max-width: 1020px) {
  .deals__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .deals__content-image {
    display: none;
  }
  .deals__content-text {
    width: 80vw;
  }
  .deals__content-text--center {
    align-items: center;
    justify-content: center;
  }
  .deals__content-text-big {
    width: 100%;
  }
  .deals__prices {
    gap: 40px;
    width: 100%;
  }
  .deals__prices-content {
    width: 169px;
    height: 250px;
  }
  .deals__prices-content-price {
    width: 121px;
  }
  .deals__prices-content-data {
    width: 139px;
    font-size: 14px;
  }
  .deals__link {
    gap: 20px;
  }
  .deals__link-arrow-right {
    width: 20vw;
  }
  .deals__link-text {
    padding: 10px 20px;
  }
  .deals__link-arrow-left {
    width: 20vw;
  }
  .deals__rectangle {
    width: 90vw;
  }
}
@media (max-width: 860px) {
  .deals__filters {
    align-items: flex-end;
  }
  .deals__filters-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30vw;
  }
  .deals__filters-menu-text {
    display: flex;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
  }
  .deals__filters-menu-show-filters {
    display: flex;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    gap: 10px;
    background: #F0F0F0;
    padding: 10px 20px;
  }
  .deals__filters-menu-show-filters-button {
    font-weight: 800;
    font-size: 15px;
  }
  .deals__filters-menu-show-filters.active .deals__filtres-menu-show-filtres-button {
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);
  }
  .deals__filters-buttons {
    display: none;
    flex-direction: column;
    gap: 0;
    position: absolute;
    z-index: 1;
    margin-top: 40px;
  }
  .deals__filters-buttons-item {
    width: 151.5px;
    background: #093E38;
  }
  .deals__moving-more {
    display: flex;
  }
  .deals__moving-next {
    display: none;
  }
  .deals__moving-options {
    display: none;
  }
}
.loan-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.loan-options__title {
  width: 1012px;
  height: 265px;
  background: url(../img/jimmy-chang-ACt8ycSzpdE-unsplash.png) no-repeat center center;
}
.loan-options__title-text {
  width: 455.63px;
  font-weight: 500;
  font-size: 102.821px;
  line-height: 100.1%;
  color: #FFFFFF;
  background-color: #D4E5CE;
  padding: 34px;
  position: relative;
  top: 32px;
  left: 34px;
}
.loan-options__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}
.loan-options__text-big {
  font-weight: 800;
  font-size: 30px;
  line-height: 108%;
  color: #093E38;
  width: 301px;
}
.loan-options__text-small {
  font-family: "Tiempos Headline";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #093E38;
  width: 567.67px;
}
.loan-options__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.loan-options__buttons-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.loan-options__buttons-button-text {
  font-weight: 800;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #093E38;
}
.loan-options__buttons-button-rectangle {
  width: 238px;
  height: 0;
  border: 1px solid #093E38;
  text-align: center;
}
.loan-options__buttons-button-rectangle-image {
  position: relative;
  top: -15px;
}

@media (max-width: 1020px) {
  .loan-options__title {
    background-position: top;
    width: 80vw;
    height: 99.46px;
  }
  .loan-options__title-text {
    width: 166.55px;
    font-size: 40px;
    padding: 20px;
  }
  .loan-options__text {
    flex-direction: column;
  }
  .loan-options__text-big {
    width: 80vw;
  }
  .loan-options__text-small {
    width: 80vw;
  }
  .loan-options__buttons {
    gap: 30px;
    padding: 0px;
    align-items: center;
    justify-content: center;
  }
}
.leadership {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 80px;
}
.leadership__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 686.46px;
}
.leadership__title-big-text {
  font-weight: 400;
  font-size: 60px;
  line-height: 108%;
  color: #093E38;
  text-align: center;
}
.leadership__title-small-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #093E38;
  text-align: center;
}
.leadership__leaders {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 1012px;
  gap: 20px;
}
.leadership__leaders-leader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 324px;
  gap: 40px;
  margin-bottom: 113.06px;
}
.leadership__leaders-leader-who {
  display: flex;
  flex-direction: column;
  gap: 42.96px;
}
.leadership__leaders-leader-who-image {
  box-shadow: 0px 18.71px #D4E5CE;
}
.leadership__leaders-leader-who-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.leadership__leaders-leader-who-name {
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #093E38;
}
.leadership__leaders-leader-who-show-about {
  display: none;
  font-size: 30px;
}
.leadership__leaders-leader-about {
  display: flex;
  flex-direction: column;
  gap: 123.08px;
}
.leadership__leaders-leader-about-text {
  height: 285.04px;
  font-family: "Tiempos Headline";
  font-weight: 0;
  font-size: 16px;
  line-height: 24px;
  color: #093E38;
}
.leadership__leaders-leader-about-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #093E38;
}
.leadership__leaders-leader-about-contact-socials {
  display: flex;
  flex-direction: row;
  gap: 8.71px;
}
.leadership__leaders-leader-about-contact-socials-link {
  display: flex;
  align-items: center;
  font-size: 25px;
  padding: 10px;
  background: #D4E5CE;
  color: #FFFFFF;
}
.leadership__leaders-leader-about-contact-socials-link:hover {
  background: #093E38;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.leadership__leaders-leader-rectangle {
  width: 100%;
  height: 0;
  border-top: 2px solid #093E38;
  text-align: center;
}
.leadership__leaders-leader-rectangle-image {
  position: relative;
  top: -16px;
}
.leadership__rectangle {
  width: 1012px;
  height: 0px;
  border-top: 2px solid #093E38;
  text-align: center;
}
.leadership__rectangle-image {
  position: relative;
  top: -4.5px;
}

@media (max-width: 1030px) {
  .leadership__title {
    width: 60vw;
  }
  .leadership__title-big-text {
    font-size: 10vw;
  }
  .leadership__title-small-text {
    font-size: 16px;
  }
  .leadership__leaders {
    width: 100%;
  }
  .leadership__rectangle {
    width: 90vw;
  }
}
@media (max-width: 667px) {
  .leadership__leaders-leader-who-show-about {
    display: flex;
    transition: all 0.3s ease-in-out;
  }
  .leadership__leaders-leader-who-show-about.active {
    transform: rotate(180deg);
  }
  .leadership__leaders-leader-about {
    display: none;
    gap: 120px;
  }
  .leadership__leaders-leader-about-text {
    height: 100%;
  }
  .leadership__leaders-leader-rectangle-image {
    display: none;
  }
  .leadership__rectangle {
    display: none;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 80px;
}
.contact__title {
  display: none;
  width: 1034.68px;
  font-weight: 400;
  font-size: 60px;
  line-height: 100.14%;
  text-align: center;
  color: #093E38;
}
.contact__title--show {
  display: block;
}
.contact__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1012px;
  gap: 20px;
  flex-wrap: wrap;
}
.contact__form-item {
  width: 448px;
  background: #FFFFFF;
  border: 4px solid #D4E5CE;
  color: #093E38;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  padding: 20px;
}
.contact__form-item:hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: #ADDBE2;
}
.contact__form-item::-moz-placeholder {
  color: #093E38;
}
.contact__form-item:-ms-input-placeholder {
  color: #093E38;
}
.contact__form-item::placeholder {
  color: #093E38;
}
.contact__form-item--textarea {
  width: 1012px;
  height: 186.34px;
  color: #093E38;
  resize: none;
}
.contact__form-item--submit {
  width: 181.17px;
  height: 53.89px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ADDBE2;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 15px;
  cursor: pointer;
  border: none;
  padding: 20px 100px;
}
.contact__form-item--submit:hover {
  transform: scale(1.05);
  background: #D4E5CE;
  color: #093E38;
}
.contact__form-adress {
  margin-right: 130px;
}
.contact__form-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contact__form-socials-item {
  width: 53.89px;
  height: 53.89px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #D4E5CE;
  color: #093E38;
}
.contact__form-socials-item:hover {
  background: #ADDBE2;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1020px) {
  .contact__title {
    width: 80vw;
    font-size: 30px;
  }
  .contact__form {
    width: 100%;
  }
  .contact__form-item {
    width: 80vw;
  }
  .contact__form-item--submit {
    width: 40vw;
  }
  .contact__form-adress {
    display: none;
  }
}
.footer {
  height: 488.21px;
  background: #093E38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.footer__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer__navigation-image {
  width: 282.12px;
  height: 32.96px;
}
.footer__navigation-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
}
.footer__navigation-list-item {
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  color: #D4E5CE;
  text-decoration: none;
}
.footer__navigation-list-item:hover {
  color: #ADDBE2;
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
  transition: all 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
  transition: all 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
  transition: all 0.3s ease-in-out, text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
}
.footer__rectangle {
  width: 177px;
  height: 0px;
  border: 2px solid #CDDEC6;
  text-align: center;
  display: none;
}
.footer__rectangle-image {
  position: relative;
  top: -5px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer__form-small-text {
  width: 444px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}
.footer__form-inputs {
  width: 580px;
  height: 49.05px;
  display: flex;
}
.footer__form-inputs-email {
  width: 410.5px;
  background: #FFFFFF;
  box-shadow: 0px 14px 27px -8px rgba(0, 0, 0, 0.15);
  padding: 0px 20px;
  border: none;
}
.footer__form-inputs-email::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #CFCFCF;
}
.footer__form-inputs-email:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #CFCFCF;
}
.footer__form-inputs-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #CFCFCF;
}
.footer__form-inputs-email:hover {
  background: #ADDBE2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.footer__form-inputs-email:hover::-moz-placeholder {
  color: #093E38;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer__form-inputs-email:hover:-ms-input-placeholder {
  color: #093E38;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer__form-inputs-email:hover::placeholder {
  color: #093E38;
  transition: all 0.3s ease-in-out;
}
.footer__form-inputs-signup {
  width: 169.5px;
  background: #CDDEC6;
  box-shadow: 0px 14px 27px -8px rgba(0, 0, 0, 0.15);
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  color: #093E38;
  border: none;
}
.footer__form-inputs-signup:hover {
  background: #ADDBE2;
  color: #093E38;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.footer__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

@media (max-width: 580px) {
  .footer {
    width: 100%;
    padding: 80px 0px;
    gap: 100px;
  }
  .footer__navigation-image {
    width: 182.72px;
    height: 21.35px;
  }
  .footer__navigation-list {
    display: none;
  }
  .footer__rectangle {
    display: block;
    position: relative;
    top: 50px;
  }
  .footer__form-small-text {
    width: 60vw;
  }
  .footer__form-inputs {
    position: relative;
    top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 44.38px;
  }
  .footer__form-inputs-email {
    width: 70vw;
    padding: 10px 20px;
  }
  .footer__form-inputs-signup {
    width: 40vw;
    padding: 10px 20px;
  }
  .footer__data-adres {
    position: relative;
    top: -400px;
    text-align: center;
    width: 80vw;
  }
}/*# sourceMappingURL=style.css.map */